---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "My Astro Learning Blog";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I'll post about my journey as an Astro developer.</p>
  <ul>
    {allPosts.map((post) => <BlogPost post={post} />)}
  </ul>
</BaseLayout>
