<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <h1>My Astro Learning Blog!</h1>
  <p>This is where I'll post about my journey as an Astro developer.</p>
</body>
